<style>

</style>
<div class="sample">
  <button type="button" name="button"><a href="#">somebody</a></button>
  <table>
    <tr>
      <td><button type="button" name="button"><a href="#">1 корпус</a></button></td>
      <td><button type="button" name="button"><a href="#">2 корпус</a></button></td>
    </tr>
    <tr>
      <td><button type="button" name="button"><a href="#">3 корпус</a></button></td>
      <td><button type="button" name="button"><a href="#">4 корпус</a></button></td>
    </tr>
    <tr>
      <td><button type="button" name="button"><a href="#">5 корпус</a></button></td>
      <td><button type="button" name="button"><a href="#">6 корпус</a></button></td>
    </tr>
  </table>
</div>
